* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* tabel */

.body-tabel {
    background-color: #b8dfff;
}

.text p, .text h3 {
    text-align: center;
}

p {
    padding: 5px;
}

h3 {
    color: tomato;
    margin: 5px;
}

table {
    width: 481px;
    background-color: #cecece;
    margin: 10px;
}

.iframe {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* page  */
nav {
    background-color: #fff;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

nav .logo {
    padding: 20px;
}

nav .links ul {
    display: flex;
}

nav .links ul li a {
    display: block;
    padding: 20px;
    color: #000;
}

header {
    background-color: #2196f3;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .image, section .image {
    margin: 10px;
    padding: 40px;
}

header .image img {
    width: 300px;
}

header .info {
    width: 500px;
    color: #fff;
    padding: 40px;
}

header .info h5 {
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
}

header .info h5 span {
    color: orange;
}


header .info p {
    margin: 10px;
    margin-bottom: 20px;
}

header .info button {
    display: block;
    padding: 7px;
    margin: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

section .title h2 {
    text-align: center;
    padding: 10px 20px;
    color: #aaa;
    margin: 40px;
}

section .container {
    display: flex;
    justify-content: space-between;
}

section .image img {
    width: 400px;
}

section .content {
    padding: 40px;
    margin: 40px;
}